'scopeName': 'text.html.nj'
'fileTypes': [
  "t.html",
  "t.htm",
  "nj.html",
  "nj.htm",
  "nj",
  "nornj"
]
'name': "nornj"
'patterns': [
  {
    "include": "text.html.basic"
  }
  {
    'begin': '(?i)(</?)((#|@{1,2})([^\\s>]+))?'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.tag.begin'
      '2':
        'name': 'entity.name.tag.inline.$2'
    'end': '((?: ?/)?>)'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.tag.end'
    'name': 'meta.tag.inline.$2'
    'patterns': [
      {
        'include': '#tag-stuff'
      }
    ]
  }
]
'repository':
  'double-braces':
    'begin': '{{{?'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin'
    'end': '}}}?'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end'
    'name': 'string.braces.double'
    'patterns': []
  'braces':
    'begin': '{{?'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin'
    'end': '}}?'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end'
    'name': 'string.braces'
    'patterns': []

  'tag-stuff':
    'patterns': [
      {
        'include': '#double-braces'
      }
      {
        'include': '#braces'
      }
    ]
